<html>
    <head>
        <title>
            Cases List
        </title>
    </head>

    <body>
        <table>
            <tr>
                <th>Created By</th>
                <th>Created At</th>
                <th>File Hash</th>
                <th>Update</th>
            </tr>
            {%for x in cases%}
            <tr>
                <td>{{x["created_by"]}}</td>
                <td>{{x["created_at"]}}</td>
                <td>{{x["file_hash"]}}</td>
                <td><a href="/lawyer_case/{{x['index']}}">Update</a></td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>