<html>
    <head>
        <title>
            Register new user
        </title>
    </head>

    <body>
        <form method="post">
            <h3>username</h3>
            <input type="text" name="username">
            <h3>First Name</h3>
            <input type="text" name="first_name">
            <h3>Last Name</h3>
            <input type="text" name="last_name">
            <h3>Email</h3>
            <input type="text" name="email">
            <h3>password</h3>
            <input type="password" name="password">
            <h3>Account Type</h3>
            <select name="accountType">
                <option value="first_responder">first_responder</option>
                <option value="investigator">investigator</option>
                <option value="lawyer">lawyer</option>
            </select>
            <button type="submit">Submit</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>