.navMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: -3vw;
  gap: 350px;
}
.navItems:hover {
  color: rgb(255, 25, 140);
}

.navItems {
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 100px;
}
.logoNav {
  height: 120%;
  margin-top: -3%;
}
